/.bashrc.d/job.sh
/.dsh/group/
/.git-dir/
/.vim/bundle/
/.vim/pathogen/
/.vim/spell/
/.vim/view/
/bin/mkdevelvirtualenv

# Filter out all other files for easier observing of `git status`
/.account
/.ansible/
/.appcfg_cookies
/.appcfg_nag
/.backup/
/.bash_history
/.bash_logout
/.cache/
/.cargo/
/.CFUserTextEncoding
/.config/
/.cups/
/.dbshell
/.dput.cf
/.dropbox/
/.dropbox-dist/
/.DS_Store
/.flexget/
/.gnupg/
/.gvm/
/.htoprc
/.httpie/
/.IntelliJIdea*/
/.ipython/
/.keepassx/
/.keychain/
/.laptop_sync
/.lesshst
/.local/
/.matplotlib/
/.mbox
/.mongorc.js
/.node-gyp/
/.npm/
/.npmrc
/.oracle_jre_usage/
/.pip/
/.PyCharm*/
/.pydeposits
/.pypirc
/.python-eggs/
/.python_history
/.pyvsb.conf
/.rnd
/.role
/.selected_editor
/.sqlite_history
/.ssh/
/.subversion/
/.sudo_as_admin_successful
/.Trash/
/.vagrant.d/
/.viminfo
/.virtualenvs/
/.wall-e/
/.Xauthority
/.yandex/
/Applications/
/Archive/
/Cloud/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Server/
/Torrents/
/Videos/
/VirtualBox VMs/
/Yandex/
/github/
/programs/
/sbin/
/site.yaml.retry
/temp/
/trusted.certs
