[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/OmniCppComplete"]
	path = .vim/bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/jedi"]
	path = .vim/bundle/jedi
	url = https://github.com/davidhalter/jedi-vim
[submodule ".vim/bundle/KeyboardLayoutSwitcher"]
	path = .vim/bundle/KeyboardLayoutSwitcher
	url = git@github.com:cypok/KeyboardLayoutSwitcher.git
[submodule ".vim/bundle/xkb-switch"]
	path = .vim/bundle/xkb-switch
	url = git@github.com:ierton/xkb-switch.git
[submodule ".vim/bundle/vim-xkbswitch"]
	path = .vim/bundle/vim-xkbswitch
	url = git@github.com:lyokha/vim-xkbswitch.git
