[core]
    editor = vim
[user]
    name = Dmitry Konishchev
    email = konishchev@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[alias]
    br = branch
    ci = commit -a
    co = checkout
    gitk = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --all
    gr = grep -n --color --extended-regexp
    me = merge --no-commit
    mt = mergetool --no-prompt
    pa = push --all
    pt = push --tags
    rb = rebase --committer-date-is-author-date
    st = status
[push]
    default = current

[merge]
	#tool = meld
	tool = Kaleidoscope
[mergetool]
    keepBackup = false
    keepTemporaries = false
	prompt = false
[mergetool "meld"]
    cmd = "meld $LOCAL $MERGED $REMOTE"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
