/.bashrc.d/job.sh
/.dsh/group/
/.git-dir/
/.vim/bundle/
/.vim/pathogen/
/.vim/spell/
/.vim/view/
/bin/mkdevelvirtualenv

# Filter out all other files for easier observing of `git status`
/.CFUserTextEncoding
/.DS_Store
/.IdeaIC*/
/.IntelliJIdea*/
/.PyCharm*/
/.Trash/
/.Xauthority
/.account
/.android/
/.ansible/
/.appcfg_cookies
/.appcfg_nag
/.atom/
/.backup/
/.bash_history
/.bash_logout
/.bash_sessions/
/.cache/
/.cargo/
/.config/
/.cups/
/.dbshell
/.dlv/
/.dput.cf
/.dropbox-dist/
/.dropbox/
/.flexget/
/.gnupg/
/.gvm/
/.htoprc
/.httpie/
/.ipython/
/.jssc/
/.keepassx/
/.keychain/
/.laptop_sync
/.lesshst
/.local/
/.matplotlib/
/.mbox
/.mongorc.js
/.node-gyp/
/.novaclient/
/.npm/
/.npmrc
/.oracle_jre_usage/
/.pdsh/
/.pgadmin/
/.pip/
/.plab.seen
/.platformio/
/.pydeposits
/.pypirc
/.python-eggs/
/.python_history
/.pyvsb.conf
/.rnd
/.role
/.rsspipes.sqlite
/.selected_editor
/.sh_history
/.skipbuddy
/.sqlite_history
/.ssh/
/.subversion/
/.sudo_as_admin_successful
/.vagrant.d/
/.viminfo
/.virtualenvs/
/.vnc/
/.wall-e/
/.yandex/
/Applications/
/Archive/
/Cloud/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Server/
/Torrents/
/Videos/
/VirtualBox VMs/
/Yandex/
/github/
/nohup.out
/programs/
/sbin/
/site.yaml.retry
/temp/
/trusted.certs
