[core]
    editor = vim
[user]
    name = Dmitry Konishchev
    email = konishchev@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[alias]
    br = branch
    ci = commit -a
    co = checkout
    gitk = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --all
    gr = grep -n --color --extended-regexp
    me = merge --no-commit
    mt = mergetool --no-prompt
    pa = push --all
    pt = push --tags
    rb = rebase --committer-date-is-author-date
    st = status
[merge]
    tool = meld
[mergetool]
    keepBackup = false
    keepTemporaries = false
[mergetool "meld"]
    cmd = "meld $LOCAL $MERGED $REMOTE"
[push]
    default = current
