/.bashrc.d/job.sh
/.dsh/group/
/.git-dotfiles/
/.git-os-dotfiles/
/.git-private-dotfiles/
/.vim/bundle/
/.vim/pathogen/
/.vim/spell/
/.vim/view/
/.vim/.netrwhist
/.vim/libxkbswitch.so
/bin/mkdevelvirtualenv

# Filter out all other files for easier observing of `git status`
/.account
/.ansible/
/.appcfg_cookies
/.appcfg_nag
/Applications/
/Archive/
/.backup/
/.bash_history
/.bash_logout
/.cache/
/.cargo/
/.CFUserTextEncoding
/Cloud/
/.config/
/.cups/
/.dbshell
/Desktop/
/Documents/
/Downloads/
/.dput.cf
/.dropbox/
/Dropbox/
/.dropbox-dist/
/.DS_Store
/.esd_auth
/.flexget/
/.fonts/
/.gimp-*/
/github/
/.gnome/
/.gnupg/
/.htoprc
/.httpie/
/.ICEauthority
/.IntelliJIdea*/
/.ipython/
/.java/
/.keepassx/
/.keychain/
/.laptop_sync
/.lesshst
/Library/
/.local/
/.matplotlib/
/.mbox
/.mongorc.js
/.mono/
/Movies/
/.mozilla/
/.multirust
/Music/
/.node-gyp/
/.npm/
/.npmrc
/.oracle_jre_usage/
/Pictures/
/.pip/
/.pki/
/Public/
/.PyCharm*/
/.pydeposits
/.pypirc
/.python-eggs/
/.python_history
/.pyvsb.conf
/.recently-used
/.rnd
/.role
/.rsspipes.sqlite
/.rustup/
/.selected_editor
/Server/
/site.yaml.retry
/.sqlite_history
/src/
/.ssh/
/.subversion/
/.sudo_as_admin_successful
/temp/
/.thumbnails/
/Torrents/
/.Trash/
/trusted.certs
/.vagrant.d/
/Videos/
/.viminfo
/VirtualBox VMs/
/.virtualenvs/
/.wall-e/
/.wget-hsts
/.Xauthority
/.Xmodmap
/.yandex/
/Yandex/
