[core]
    editor = vim
    excludesfile = ~/.gitignore.global
[user]
    name = Dmitry Konishchev
    useConfigOnly = true
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[alias]
    br = branch
    ci = commit -a
    co = checkout
    gitk = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --all
    gr = grep -n --color --extended-regexp
    me = merge --no-commit
    mt = mergetool --no-prompt
    pa = push --all
    pt = push --tags
    rb = rebase --committer-date-is-author-date
    st = status
    su = submodule update --init --recursive
[push]
    default = current

[merge]
	#tool = meld
	tool = vimdiff
[mergetool]
    keepBackup = false
    keepTemporaries = false
	prompt = false
[mergetool "meld"]
    cmd = "meld $LOCAL $MERGED $REMOTE"
