[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/OmniCppComplete"]
	path = .vim/bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/jedi"]
	path = .vim/bundle/jedi
	url = https://github.com/davidhalter/jedi-vim
[submodule ".vim/bundle/KeyboardLayoutSwitcher"]
	path = .vim/bundle/KeyboardLayoutSwitcher
	url = https://github.com/cypok/KeyboardLayoutSwitcher.git
[submodule ".vim/bundle/xkb-switch"]
	path = .vim/bundle/xkb-switch
	url = https://github.com/ierton/xkb-switch.git
[submodule ".vim/bundle/vim-xkbswitch"]
	path = .vim/bundle/vim-xkbswitch
	url = https://github.com/lyokha/vim-xkbswitch.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-nerdtree-tabs"]
	path = .vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-easy-align"]
	path = .vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule ".vim/bundle/vim-ctrlspace"]
	path = .vim/bundle/vim-ctrlspace
	url = https://github.com/szw/vim-ctrlspace.git
[submodule ".vim/bundle/Vim-Jinja2-Syntax"]
	path = .vim/bundle/Vim-Jinja2-Syntax
	url = https://github.com/KonishchevDmitry/Vim-Jinja2-Syntax.git
